.Form{
    height: calc(100vh - 230px);
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center
}
.Form form {
    display:flex;
    flex-direction: column;
    height: 350px;
      width: 350px;
    background:#332;
    justify-content:space-evenly;
    align-items:center
}
.Form form input{
    padding:10px;
}
@media(max-width:500px){
    .Form{
        height: auto;
    }
}